.wrapper {
  padding-top: 50px;
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0429/5566/rr2012_0601_5195_shop_preview.png");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
